<div class="js-enabled">
  <exui-media-viewer-toolbar></exui-media-viewer-toolbar>
    <mv-media-viewer [annotationApiUrl]="mediaAnnotationApiUrl"
                    [url]="mediaURL"
                    [downloadFileName]="mediaFilename"
                    [showToolbar]="false"
                    [contentType]="mediaContentType"
                    [enableAnnotations]="true"
                    [enableRedactions]="true"
                    [toolbarButtonOverrides]="toolbarButtons">
    </mv-media-viewer>
</div>
